<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}" /> -->
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
            <h1 color="white">@Turing 5.30 Charleroi (Station/Le Quai)?
            <div><span style="background-color: darkslategray ;color:white ; font-family: monospace;
    font-size:15px;">I help my boss as Humans are no more trustable by Him..but am I?</span></div></h1>
    <form>
        <div id="chatbox">
            <p class="botText"><span>Welcome!!! you are at right place to relax and have fun....</span></p>
            <div id="append"></div>
            <div id="userInput" class="row">
            <div class="col-md-10">
                <input id="text" type="text" name="msg" placeholder="Enter your Message Here" class="form-control">
                <button type="submit" id="send" class="btn btn-warning">Send</button>
            </div>
        </div>
        </div>
    </form>
</div>
</div>

<script>
    $(document).ready(function() {
        $("form").on("submit", function(event) {
            var rawText = $("#text").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#text").val("");
            $("#append").append(userHtml);
            document.getElementById("userInput").scrollIntoView({
                block: "start",
                behavior: "smooth",
            });
            $.ajax({
                data: {
                    msg: rawText,
                },
                type: "POST",
                url: "/postUpdate",
            }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                $("#append").append($.parseHTML(botHtml));
               $("#append").scrollTop($("#append")[0].scrollHeight);
                document.getElementById("userInput").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
            });
            event.preventDefault();
        });
    });
</script>
</body>

</html>
